.stats-container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  flex: 1;
}

.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-right-header {
  display: flex;
  gap: 10px;
}
.stats-right-header p {
  padding: 6px 12px;
  border-radius: 8px;
}

.active-arrival-filter {
  background-color: #464e5f;
  color: white !important;
}


.stats-chart{
  margin-top: 20px;
  max-height: 350px;
}
